body {
    background-color: rgb(253, 251, 251);
    font-family: monospace;
    font-size: 20px;
    line-height: 1.5em;
    color: #0C4767;
}
#cabecalho {
    position: fixed;
    top: 0;
}
.lists {
    display: inline-block;
}
.lado-esquerdo, .lado-direito {
    display: inline-block;
}
.lado-esquerdo, .lado-direito {
    width: 40%;
}
table td{
    border: 1px solid black;
}