body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
  font-size: 20px;
  line-height: 1.5em;
  color: rgb(12, 71, 103);
}

#cabecalho {
  position: fixed;
  top: 0;
}

.lists {
  display: inline-block;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  width: 40%;
}

table , th , td {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
}

table {
  width: 300px;
  height: 100px;
  border-collapse: collapse;
}
